:root {
  --portal-theme-primary: #6d00fc;
  ;
  --portal-theme-primary-secondary: #6d00fc29;
  --primary-color: #ffffff24;
  /* --body-bg-color: #f5f5f5; */
  --text-primary-color: #fff;
  --text-secondary-color: #ACACAC;
  --button-text-color: #fff;
  --icon-color: #6d00fc;

  --in-card-spacer-y: 1rem;
  --in-card-spacer-x: 1rem;
  --main-bg-color: #000000 ;
  --main-card-bg-color: #121212;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.full-height-container {
  height: 100vh;
 
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Alvi Nastaleeq Regular';
  src: url('../fonts/NotoNastaliqUrdu-VariableFont_wght.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-size: 11px !important;
  line-height: 28px;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--main-bg-color) !important;
  color: #fff !important;
}

html {
  font-family: 'Montserrat', sans-serif !important;
}

.overlay-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-text {
  font-size: 29px;
  font-weight: 400;
}

.login-page-button {
  border-radius: 8px !important;
  height: 40px;
  text-transform: capitalize !important;
  font-size: 16px !important;
}

.header-title {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-top: 18px;
}

.profile-container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--main-card-bg-color);
  border: 2px solid rgba(190, 190, 190, 0.13);
}

.profile-info {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin-left: 10px;
}

.user-name {
  font-weight: 700;
  margin-bottom: -1px;
  color: #fff;
  font-size: 13px;
}

.chevron-icon {
  font-weight: bold;
  margin-left: 20px;
  margin-right: 5px;
  font-size: 10px;
  color: #fff;
}

.dashboard-card-count {
  font-size: 22px;
  font-weight: 600;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 18px !important; 
  }
}

.table-container {
  border-radius: 20px !important;
  background-color: var(--main-card-bg-color) !important;
  border: 2px solid rgba(190, 190, 190, 0.13);
  box-shadow: none !important;
}

.table-heading {
  background-color: var(--main-card-bg-color);
}

.table-heading-text {
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 13px !important;
}

.table-search {
  margin-top: 5px;
  margin-right: -10px;
  margin-bottom: -15px;
  border-radius: 10px !important;
  background-color: #ffffff;
  border: 1px solid #c2c8cd !important;
}

@media (max-width: 599px) {
  .table-search {
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: -15px;
    border-radius: 10px !important;
    background-color: #ffffff;
    border: 1px solid #c2c8cd !important;
  }
}

.table-menu-more-option {
  color: #fff !important;
}


.table-menu-more-option svg {
  color: #fff !important;
}

.menus-list svg {
  color: #acacac !important;
}

.menuActive svg {
  color: var(--icon-color) !important;
}

.table-menu-more-option-dropdown svg {
  font-size: 20px;
  color: var(--icon-color);
}


.custom-popover-container {
  padding: 25px 25px;
  background-color: var(--main-card-bg-color) !important;
  display: flex;
  flex-direction: column;
  max-height: 90vh !important;
}

.scrollable-content {
  padding: 0px;
  /* overflow-y: auto; */
  flex: 1;
}

.custom-popover {
  margin-bottom: -8px;
}

.custom-popover-cross {
  z-index: 1;
  padding: 3px;
  background-color: var(--icon-color);
  border-radius: 50%;
  margin-left: 15px;
  height: 25px;
  width: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-popover-cross svg {
  color: #fff !important;
  font-size: 16px;
}

.custom-popover-title h4 {
  font-size: 20px !important;
}

.table-head-sticky{
  z-index: 2 !important;
  position: relative;
  /* position: sticky;
  top: 80px;
  z-index: 44; */
}

.table-name-cell-head{
  position: sticky !important;
  z-index: 4 !important;
  left: -10px;
  background-color: rgb(19, 19, 19);
}

.table-name-cell{
  position: sticky;
  z-index: 1;
  left: -10px;
}

.table-name-cell-bg{
  background-color: rgb(26, 25, 25);
}

.MuiTableCell-head {
  background-color: #121212 !important;
  color: white !important;
  z-index: 1;
  top: 0;
}


.add-button svg {
  fill: #000000 !important;
  color: #ffffff !important;
}

.popover-apply-button {
  /* border-radius: 7px !important; */
  margin-left: 10px !important;
  text-transform: capitalize !important;
  font-size: 15px !important;
  padding: 5px 20px !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  min-width: 90px !important;
}


.font-family {
  font-family: 'Manrope' !important;
}

.delete-confirm-text {
  color: #fff !important;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px !important;
}

.delete-cancel-button {
  font-size: 0.875rem !important;
  text-transform: capitalize !important;
  color: #fff !important;
  padding: 7px 25px !important;
}

.delete-confirm-button {
  font-size: 0.875rem !important;
  text-transform: capitalize !important;
  background-color: #ee2e30 !important;
  color: white !important;
  padding: 7px 25px !important;
}

.text-field-border {
  border-radius: 10px !important;
}

.capitalized {
  text-transform: capitalize !important;
}

.pointer {
  cursor: pointer;
}


.div-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000005a;
}


.sidebar-text {
  padding-left: 15px;
}

.menus-list {
  color: var(--text-primary-color) !important;
}

.menuActive {
  background: var(--portal-theme-primary-secondary) !important;
  color: var(--text-primary-color) !important;
}

.menuActive  span{
  color: var(--text-primary-color) !important;
}

.menuActive .child_dot:before {
  background-color: var(--portal-theme-primary);
}


.menuActive:before {
  background-color: #6d00fc;
  border-radius: 0px 50% 50% 0px;
  content: "";
  height: 40px;
  position: absolute;
  width: 3px;
  left: 0;
}

.child_dot:before {
  border: 1px solid var(--portal-theme-primary);
  border-radius: 50%;
  content: "";
  height: 7px;
  transition: all 0.4s ease-in-out;
  width: 7px;
  margin-right: 12px;
  margin-left: 30px;
}

.menus-list {
  width: 100%;
}

.menus-list span {
  font-size: 14px !important;
  color: var(--text-secondary-color);
}

.menus-list:hover {
  background-color: var(--portal-theme-primary-secondary) !important;
}


.card {
  box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15) !important;
  border: none !important;
}

.fs-16 {
  font-size: 16px !important;
}

.table th {
  font-size: 14px !important;
}

.table p,
.table td {
  color: #fff !important;
}


.bg_primary {
  background-color: var(--primary-color) !important;
}

.between-alinging {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_input input {
  box-shadow: none !important;
  outline: none !important;
  background-color: #f5f5f5 !important;
  color: #fff;
  border: none !important;
  min-height: 40px;
  font-size: 16px !important;
}

.search_input input {
  padding: 0px 0px 0px 32px !important;
  width: 40% !important;
}

input:-webkit-autofill {
  background-color: transparent !important;
}


input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

input:-webkit-autofill {
  background-color: transparent !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


.css-56kqkj-MuiInputBase-root-MuiOutlinedInput-root {
  border: 1px solid #bebebe87 !important; 
}

.MuiInputLabel-root {
  color: #bebebe87 !important;
}

.css-1n0xznr-MuiFormControlLabel-root {
  border: 1px solid #bebebe87 !important; /* Set border color to red */
  border-radius: 4px; /* Keep existing border radius */
  color: #bebebe87;
}

.css-fhu5vv-MuiFormControlLabel-root {
  border: 1px solid #fff !important;  
  color: #fff;
}

.css-43tech-MuiSvgIcon-root{
  color: white !important;
}

.MuiInputLabel-root.Mui-focused {
  color: #fff !important;
}

.fixed_header {
  position: fixed;
  z-index: 999;
  width: 400px;
}

.search-icon {
  color: white !important;
}

@media (max-width: 400px) {
  .fixed_header {
    width: 250px;
  }
}


.sidebar-search-input {
  width: 100%;
  border: solid 1px #bebebe87;
  height: 35px;
  font-size: 14px;
  border-radius: 5px;
  background-color: transparent;
  padding-left: 35px;
  color: var(--text-primary-color);
  outline: none !important;
}

.sidebar-search-box {
  position: relative;
}

.sidebar-search-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 16px;
}

.upload-button label {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 76px;
  width: 76px;
  justify-content: center;
  padding: 15px;
  text-align: center !important;
}

.upload-button svg {
  color: #fff !important;
}


::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--portal-theme-primary-secondary);
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb:active {
  background: #666;
}

.pagination-style {
  display: flex;
  /* justify-content: end; */
  margin-bottom: 10px;
}

@media (max-width: 1083px) {
  .pagination-style {
    margin-top: 10px;
  }
}

.css-fpqqwi-MuiCardContent-root:last-child {
  padding-bottom: 0px;
}

.css-dac6fd-MuiTableContainer-root {
  width: 100%;
  overflow-x: auto;
  min-width: 350px !important;
}


.search_btn {
  height: 40px !important;
  margin-top: 2px !important;
}

.mui-table-footer p {
  margin-bottom: 0px !important;
}

.mui-table-footer {
  display: flex !important;
  justify-content: space-between;
}

/* Profile Related Css */
.Password-Change-Container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: min(100%, 500px);
  background-color: var(--main-card-bg-color) !important;
  border: 1px solid rgb(119, 119, 119) !important;
  padding: 20px;
}

.delete-modal-close, .delete-modal-close {
  cursor: pointer;
  color: white;
  top: 10px;
  position: absolute;
  background-color: var(--icon-color);
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  right: 10px;
  transition: all 0.2s;
}

.delete-modal-close:hover {
  background-color: var(--portal-theme-primary-secondary);
  color: #fff;
}


.Profile-Image-Change {
  padding: 5px !important;
  background-color: #f3f3f3ab !important;
  cursor: pointer !important;
  position: absolute !important;
  top: 78px;
  left: 57px;
}

.edit-icon {
  padding: 4px !important;
  background-color: #f3f3f3ab !important;
  cursor: pointer !important;
}

.Position_update {
  height: 110px;
  position: relative !important;
}

.Profile-Icon-Link {
  font-size: 14px;
  font-weight: normal;
}


.Styled_Chip {
  border: none !important;
}

.Styled_Chip span {
  height: 22px;
  min-width: 22px;
  line-height: 0;
  border-radius: 6px;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px 8px;
  font-size: 0.642857rem;
  font-weight: 900 !important;
}

.Label_Color {
  color: #4496cf !important;
}

.count {
  background-color: var(--main-card-bg-color);
}

.custom_search_box {
  background-color: transparent !important;
  border: 1px solid var(--icon-color) !important;
  border-radius: 5px !important;
}

.MuiTablePagination-root p {
  margin-bottom: 0px !important;
}

.form-container {
  max-height: 429px;
  overflow-y: auto;
  overflow-x: hidden;
}

.css-im1g3i-MuiPaper-root-MuiCard-root{
  border-radius: 4px;
  border: 1px solid rgb(119, 119, 119);
}

.circular_progress {
  height: 450px !important;
}

.nav_active {
  color: #fff !important;
  pointer-events: none !important;
}

.nav_inactive {
  transition: all 0.2s ease-in-out !important;
  color: #fff !important;
}

.nav_inactive:hover {
  /* font-size: 18px !important; */
  /* font-weight: 700 !important; */
  color: var(--portal-theme-primary) !important;
  /* text-decoration: underline !important; */
}

.nav_inactive, .nav_active {
  text-decoration: none !important;
}

.child_sidebar-icons {
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
}


/* 404 Page  */
.main-404-container {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--main-bg-color);
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.not-found-container {
  max-width: 500px;
  background: var(--main-card-bg-color);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.not-found-heading {
  font-size: 7rem;
  margin: 0 0 20px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}

.not-found-message {
  font-size: 1.2rem;
  margin: 0 0 20px;
  line-height: 1.5;
  color: #fff;
  opacity: 0.8;
}

.not-found-animation {
  margin: 20px 0;
}

.not-found-icon {
  font-size: 5rem;
  color: #fff;
  margin-bottom: 20px;
}

.phone-input-container {
  width: 100%;
}

.phone-input-container #myInput {
  outline-width: 0 !important;
  width: 100%;
  padding: 15px 0px 15px 45px !important;
  border-radius: 4px;
  border: 1px solid #bebebe87 !important;
  color: #fff;
  background-color: transparent !important;
}

.not-found-button {
  background-color: var(--portal-theme-primary);
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.text-muted {
  color: var(--text-secondary-color) !important;
}


.user-profile-data h2 {
  color: var(--portal-theme-primary);
  font-size: 18px !important;
  margin: 0;
}

.user-profile-data h6 {
  margin-bottom: 0;
}


.chip-inactive {
  background-color: #d32f2f9e !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dress-measurements {
  border-radius: 10px;
  border: 1px solid rgba(236, 233, 233, 0.301);
  padding: 10px 0 0 10px;
  margin: 2px 0;
}

.customer-list-loader{
  height: 400px;
}

.MuiTableCell-body {
  white-space: nowrap !important;
}

.customer-contact{
  color: var(--text-secondary-color) !important;
}

.customer-contact:hover{
  color: var(--icon-color) !important;
}